@charset "utf-8";

/* visual */
.company .visual {
  background-image: url("../images/img_spot_summary.jpg");
}

/*content_container*/
.company .details {
  margin-top: 75px;
}
.company .details dl {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.company .details dl:first-of-type {
  margin-bottom: 75px;
}

.company .details dt {
  width: 23.5%;
  font-size: 20px;
  color: #333;
  line-height: 28px;
  letter-spacing: -0.6px;
  padding-right: 20px;
  font-weight: bold;
}

.company .details dd {
  width: 76.5%;
  font-size: 15px;
  color: #606167;
}



.module-table tr {
  border-bottom: 1px solid #efefef;
}

.module-table tr:first-child {
  border-top: 2px solid #333;
}

.module-table th,
.module-table td {
  padding: 20px 0;
}

