@charset "utf-8";

.featured .list {
}

.featured .list > li {
  border-bottom: 1px solid #efefef;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.featured .list .content {
  padding-right: 39px;
  /*
  background: coral;
	flex:1;
	*/
}

.featured .list .slide {
  text-align: center;
  padding: 0 46px;
  width: 270px;
}
