@charset "utf-8";

/* visual */
.flower .visual {
  background-image: url("../images/img_flower.jpg");
}
.flower_list {
  display: flex;
  justify-content: space-between;
}
.flower_list li {
  color: #606167;
  font-size: 15px;
  line-height: 1.8;
  padding-right: 30px;
}

.flower_list li:last-child {
  padding-left: 30px;
  padding-right: 0;
}
.flower_list:after {
  content: "";
  display: block;
  clear: both;
}

.dadan {
  column-count: 3;
  column-gap: 50px;
  column-rule: 1px solid #ddd;
  /* column-width: 300px; */
}

.dadan h2 {
  background-color: #f2f2f2;
  border-radius: 5px;
  margin: 20px 0;
  text-align: center;
  font-size: 50px;
  padding: 30px 0;
  column-span: all;
}

.btn_area {
  margin-top: 24px;
  display: flex;
  justify-content: right;
}
.btn_area a {
  margin-left: 16px;
}
.btn_area .btn_text {
  color: #333;
  font-weight: bold;
  margin-right: 16px;
  line-height: 46px;
}
.icon_down {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 46px;
  height: 46px;
  background-color: #bac2cd;
  border-radius: 100%;
}
.icon_next {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 46px;
  height: 46px;
  background-color: #bac2cd;
  border-radius: 100%;
}
.icon_down:hover {
  background-color: #00c73c;
}
.icon_next:hover {
  background-color: #00c73c;
}
.icon_down:before {
  width: 18px;
  height: 19px;
  margin: -9px 0 0 -9px;
}
.icon_down:before,
.icon_vod:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../images/sprite.png") no-repeat;
  background-position: -266px 0;
  background-size: 474px 1500px;
}
.icon_next:before {
  content: "";
  width: 15px;
  height: 14px;
  margin: -7px 0 0 -8px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../images/sprite.png") no-repeat;
  background-size: 474px 1500px;
  background-position: -230px 0;
}
