@charset "utf-8";

.report .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.report .list li {
  width: calc((100% - 80px) / 3);
  margin-top: 60px;
}

.report .list a {
  display: block;
}

.report .list .thumb {
  height: 200px;
  overflow: hidden;
  position: relative;
  background: no-repeat center center/cover;
  background-image: url("../images/20220128094655_1.png");
  margin-bottom: 20px;
}

.report .list li:nth-child(1) .thumb {
  background-image: url("../images/20220127081412.png");
}
.report .list li:nth-child(2) .thumb {
  background-image: url("../images/img_promotion_no_image.png");
}
.report .list li:nth-child(3) .thumb {
  background-image: url("../images/20220128094655_1.png");
}

.report .list .thumb img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.report .list article {
}

.report .list article h3 {
  font-size: 16px;
  color: #212121;
  line-height: 1.6;
  margin: 0 0 5px;
  padding: 0 10px 0 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.report .list article p {
  margin: 0 0 9px;
  font-size: 14px;
  color: #606167;
  line-height: 1.6;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.report .list time {
  font-size: 12px;
  color: #878890;
}
