@charset "utf-8";

/*content_header*/

.spot .flower {
  overflow: hidden;
  position: relative;
  padding-top: 21.545%;
}

/*content_container flower*/
.value .content_container {
  margin-top: 100px;
}

/*col_box*/
.col_box .col:first-child {
  padding-right: 30px;
}
.col {
  float: left;
  width: 50%;
  font-size: 15px;
  line-height: 1.8;
  color: #606167;
}
.col_box:after {
  content: "";
  display: block;
  clear: both;
}
/*btn_area*/
.content_container .btn_area {
  margin-top: 24px;
  text-align: right;
}
.btn_link_large {
  margin-left: 16px;
}
.btn_link_large .btn_text {
  margin-right: 16px;
  font-size: 15px;
  font-weight: bold;
}
.btn_text {
  display: inline-block;
  margin-left: 16px;
  font-size: 15px;
  color: #212121;
  line-height: 46px;
}

.icon_down {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 46px;
  height: 46px;
  background-color: #bac2cd;
  border-radius: 100%;
}
.icon_next {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 46px;
  height: 46px;
  background-color: #bac2cd;
  border-radius: 100%;
}
.icon_down:hover {
  background-color: #00c73c;
}
.icon_next:hover {
  background-color: #00c73c;
}
.icon_down:before {
  width: 18px;
  height: 19px;
  margin: -9px 0 0 -9px;
}
.icon_down:before,
.icon_vod:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../images/sprite.png") no-repeat;
  background-position: -266px 0;
  background-size: 474px 1500px;
}
.icon_next:before {
  content: "";
  width: 15px;
  height: 14px;
  margin: -7px 0 0 -8px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../images/sprite.png") no-repeat;
  background-size: 474px 1500px;
  background-position: -230px 0;
}
/*info_img_box*/
.info_img_box {
  max-width: 1094px;
  margin: 80px auto 136px;
}
.info_img_box img {
  width: 100%;
}
