@charset "utf-8";
* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.header_wrap{
	position:fixed;
	width: 100%;
	transition:0.5s;
	background-color: rgba(255, 255, 255, 0.97);
	z-index: 10;
}
.header_inner{
	width: 1600px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
}
.header_wrap h1{
	background-image:url('../images/naver_header_logo.png');
	background-repeat:no-repeat;
	float: left;
	width: 87px;
	height: 17px;
	text-align: center;
	margin: 32px 0 0 30px;
	
}
.header_wrap h1 span{
	position: absolute;
	clip: rect(0 0 0 0 );
	overflow: hidden;
}
.gnb {
	display: inline-block;
}
.gnb ul{
	font-size: 0;
	text-align: center;
}
.gnb ul li{
	display: inline-block;
}
.gnb ul li a{
	text-decoration: none;
	display: block;
    position: relative;
    margin: 0 32px;
    padding: 29px 0 30px;
    font-size: 15px;
    color: #333;
	font-weight: bold;
}
.accNav{
	float: right;
	width: 144px;
	margin:29px 25px 0 0;
	font-size: 0;
}
.header_lang{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	margin:0 41px 0 0; 
	
}
.header_lang a{
	margin:0 21px 0 0;
	color: #333;
	text-decoration: none;
	position: relative;
}
.header_lang a:first-child::after{
	content: '';
    display: block;
    position: absolute;
    right: -12px;
    top: 2px;
    width: 1px;
    height: 9px;
    background-color: #333;
    opacity: 0.6;
}
.visualArea{
	background-image: url('../images/naver_img_main_slide3.jpg');
	color:#fff;
	height:766px;
	display:block;
	position:relative;
}
.cont{
	position: absolute;
	left: 160px;
	bottom: 160px;
}
.cont strong{
	font-size: 36px;
	line-height: 46px;
}
.cont p{
	margin-top:32px;
	font-size: 15px;
    line-height: 1.6;
}