@charset "utf-8";
* {
	box-sizing: border-box;
    margin:0;padding:0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
button {
    border: 0;
    background: none;
}
body {
	margin: 0;
    padding: 0;
    font-style: normal;
    line-height: 1.4;
}
dd{
    margin: 0;
    padding: 0;
}
button{
    border: 0;
}
#wrap {
    position: relative;
    min-width: 1120px;
    min-height: 100%;
}
.header_wrap{
	position:fixed;
	width: 100%;
	transition:0.5s;
	background-color: rgba(255, 255, 255, 0.97);
	z-index: 10;
	left: 0;
	top: 0;
}
.header_inner{
	width: 1600px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header_wrap h1{
	background-image:url('../images/naver_header_logo.png');
	background-repeat:no-repeat;
	float: left;
	width: 87px;
	height: 17px;
	text-align: center;
    align-items:flex-start;
	
}
.header_wrap h1 span{
	position: absolute;
	clip: rect(0 0 0 0 );
	overflow: hidden;
}
.gnb {

}
.gnb ul{
	text-align: center;
    display:flex;
}
.gnb ul li{
	
}
.gnb ul li a{
	text-decoration: none;
	display: block;
    position: relative;
    margin: 0 32px;
    padding: 29px 0 30px;
    font-size: 15px;
    color: #333;
	font-weight: bold;
}
.gnb a:before {
    content: '';
    position: absolute;
    left: -1px;
    bottom: 20px;
    width: calc(100% + 2px);
    height: 2px;
    background-color: #1ec545;
    transform: scaleX(0);
    transition: 0.3s;
    transform-origin: 0 0;
}
.gnb ul li a:hover::before{
    transform: scaleX(1);
}
.accNav{
	width: 144px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.header_lang{
	font-size: 12px;
}
.header_lang a{
	margin:0 21px 0 0;
	color: #333;
	text-decoration: none;
	position: relative;
}
.header_lang a:first-child::after{
	content: '';
    display: block;
    position: absolute;
    right: -12px;
    top: 2px;
    width: 1px;
    height: 9px;
    background-color: #333;
    opacity: 0.6;
}
.btn_sitemap{
    cursor: pointer;/*손바닥나오는애*/
}
.btn_sitemap span{
    display:block;
    position: relative;
    background-color: #333;
    width: 24px;
    height: 4px;
    margin:2px;
    transition:all 0.5s;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 4px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -4px);
}
.slide_info_container{
    bottom: 0;
    width: 100%;
    height: 100%;
}
.visualArea{
	background-image: url('../images/naver_img_main_slide3.jpg');
	color:#fff;
	height:766px;
	display:block;
	position:relative;
}

.cont{
	position: absolute;
	left: 160px;
	bottom: 160px;
}
.cont strong{
	font-size: 36px;
	line-height: 46px;
}
.cont p{
	margin-top:32px;
	font-size: 15px;
    sline-height: 1.6;
}


.btn_prev, .btn_next {
    position: absolute;
    width: 46px;
    height: 46px;
    background: url('../images/naver_sprite.png') no-repeat;
    background-size: 474px 1500px;
    top: calc(1970px - 47%);
}
.btn_prev {
    left: 85px;
    background-position: -296px -99px;
}
.btn_next {
    right: 85px;
    background-position: -346px -99px;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
/*메인*/
.main_content{
	max-width: 100%;
    padding: 0 150px 120px;
}
.content_summary{
	margin-top: 69px;
    height: 179px;
}
.summary_container {
    position: relative;
	float: left;
    width: 26.6%;
    padding-left: 50px;
    padding-right: 50px;
}
.summary_container:first-child{
	padding-left: 0;
}
.summary_title{
	font-size: 14px;
	color:#212121;
}
.summary_container:after {
    content: '';
    display: block;
    clear: both;
}
.summary_container:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #efefef;
}
.summary_container:first-child:before{
	display:none;
}
.news_box{
	width: 100%;
	height:76px;
	margin: 31px 0 30px;
}
.news_title{
	display: block;
	font-size: 16px;
	color: #333;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.news_text{
	height: 44px;
    margin-top: 10px;
    font-size: 15px;
    color: #878890;
    line-height: 1.6;
    overflow: hidden;
	
}
.summary_link{
	position: relative;
    padding-right: 32px;
    font-size: 15px;
    color: #333;
	font-weight: bold;
}
.summary_link:after{
	border-radius: 50%;
	content:'-';
	text-align: center;
	transition: 0.4s;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top:0;
	right:0;
}
.summary_link:hover{
	text-decoration:underline;
}
.summary_link:hover::after{
	background-color:green;
	color: #fff;
}

.career_text{
	height: 76px;
    margin: 31px 0 30px;
    font-size: 18px;
    color: #333;
	font-weight: bold;
}
.stock_info_box {
    height: 76px;
    margin: 23px 0 38px;
    color: #333;
}
.stock_price_box {
    position: relative;
    padding-bottom: 7px;
}
.price {
    float: left;
    font-size: 36px;
    letter-spacing: -1.7px;
	margin: 0;
    padding: 0;
	font-weight: bold;
}
.stock_price_box:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #333;
}
.unit {
    font-size: 12px;
}
.figure {
    float: right;
    margin-top: 23px;
	position: relative;
	padding-left: 18px;
}
.stock_price_box:after {
    content: '';
    display: block;
    clear: both;
}
.date {
    margin-top: 12px;
    font-size: 12px;
    color: #878890;
    text-align: right;
}
.summary_container:nth-child(4) {
    width: 20.2%;
    padding-right: 0;
}

/*content_service*/
.content_service{
    margin-top: 98px;
}
.service_list_container {
    font-size: 0;
}
.service_thumbnail_box:nth-child(2), .service_thumbnail_box:nth-child(5), .service_thumbnail_box:nth-child(8) {
    width: 33.2%;
}
.service_thumbnail_box {
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 33.4%;
    cursor: pointer;
		cursor:pointer;
}
.thumbnail_dimmed{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    transition: opacity 0.2s;
}
.service_thumbnail_box:hover .thumbnail_dimmed {
	background-color: rgba(0, 0, 0, 0.5);
}
.service_thumbnail_box:hover .thumbnail_dimmed dl{
	bottom:0;
}
.thumbnail_dimmed dl {
    position: absolute;
    left: 0px;
    bottom: -100px;
    width: 100%;
    color: #fff;
    transition: 0.4s 0.1s;
    font-weight: bold;
		padding-left:20px;
}
.thumbnail_dimmed dl dt {
    margin-bottom: 2px;
    font-size: 22px;
}
.thumbnail_dimmed dl dd {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}
/*support_info_top*/
.content_support {
    margin-top: 112px;
    text-align: center;
}
.support_info_top{
    text-align: center;
}
.support_title{
    margin-bottom: 17px;
    font-size: 32px;
    color: #212121;
}
.support_text {
    margin-bottom: 134px;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    font-weight: 400;
}
.support_list_container {
    max-width: 1360px;
    margin: 0 auto;
}
.support_list_container:after {
    content: '';
    display: block;
    clear: both;
}
.support_list_box {
    float: left;
    position: relative;
    width: 25%;
}
.text_line {
    display: block;
    margin: 0;
    word-break: keep-all;
}
.support_list_box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 215px;
    background-color: #efefef;
}

.support_list_box a {
    display: block;
    position: relative;
    width: 100%;
    padding: 135px 10px 0;
}
.support_list_box a.creators:before {
    width: 87px;
    background-position: 0 -957px;
}
.support_list_box a.business:before {
    width: 101px;
    background-position: -92px -957px;
}
.support_list_box a.developers:before {
    width: 110px;
    height: 95px;
    background-position: -199px -957px;
}
.support_list_box a.flower:before {
    width: 93px;
    background-position: -316px -957px;
}
.support_list_box a:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100px;
    transform: translateX(-50%);
    background: url(../images/naver_sprite.png) no-repeat;
    background-size: 474px 1500px;
}
.support_list_box dt {
    margin-bottom: 10px;
    font-size: 16px;
    color: #00b843;
    font-weight: bold;
}
.support_list_box dd {
    font-size: 15px;
    color: #878890;
    line-height: 1.6;
}
footer {
    background-color: #f8f9fa;
}
.footer_wrap {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 70px 0 66px;
    text-align: center;
}
.footer_wrap .footer_logo {
    position: absolute;
    left: 30px;
    top: 76px;
    width: 63px;
    height: 13px;
    margin: 0 auto;
    background-image: url(../images/naver_footer_logo.png);
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
}
.footer_menu {
    position: absolute;
    font-size: 0;
    left: 105px;
    top: 74px;
}
.footer_menu > li {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    font-size: 14px;
}
.footer_menu .footer_menu_item {
    color: #878890;
}