.company .visual {
  background-image: url($url + "img_spot_summary.jpg");
}

/*content_container*/
.details {
  margin-top: 75px;
  dl {
    display: flex;
    align-content: center;
    justify-content: space-between;
    &:first-of-type {
      margin-bottom: 75px;
    }
  }
  dt {
    width: 23.5%;
    font-size: 20px;
    color: #333;
    line-height: 28px;
    letter-spacing: -0.6px;
    padding-right: 20px;
    font-weight: bold;
  }
  dd {
    width: 76.5%;
    font-size: 15px;
    color: #606167;
  }
}

.module-table tr {
  border-bottom: 1px solid #efefef;
  &:first-child {
    border-top: 2px solid #333;
  }
  th,
  td {
    padding: 20px 0;
  }
}
