footer {
    background-color: #f8f9fa;
}
.footer_wrap {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 70px 0 66px;
    text-align: center;
    .footer_logo {
        position: absolute;
        left: 30px;
        top: 76px;
        width: 63px;
        height: 13px;
        margin: 0 auto;
        background-image: url(../images/naver_footer_logo.png);
    }
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
}
.footer_menu {
    position: absolute;
    font-size: 0;
    left: 105px;
    top: 74px;
    li {
        display: inline-block;
        position: relative;
        margin: 0 10px;
        font-size: 14px;
    }
}
.footer_menu .footer_menu_item {
    color: #878890;
}