@import "scss/reset";
@import "scss/header";
@import "scss/home";
@import "scss/sub_common";
@import "scss/company";
@import "scss/flower";
@import "scss/featured";
@import "scss/projectflower";
@import "scss/pressreleases";
@import "scss/shareholder";
@import "scss/footer";
.allWrap {
  position: relative;
  min-width: 1120px;
  min-height: 100%;
}